.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button {
  background-color: #007bff;
  margin-right: 8px;
}

.container
{
  background-color: #333;
  height: 30vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  /* padding: 1rem; */
}

.item
{
  background-color: #666;
  border: medium solid #999;
  /* width: 100%; */
  flex-grow: 1;
}

.itme:nth-child(2)
{
  flex-grow: 2;
  background-color: #702727;
}