<div class="main-container">
    <div class="header-page-container">
        <h1 class="title">Mastercraft Bamboo Monitor Riser</h1>
        <p class="slogan-text">A beautiful & handcrafted stand to reduce neck and eye strain</p>
        <div class="button-container">
            <button type="button" class="btn-back">Back this project</button>
            <div class="icon-bookmark-container">
                <img src="assets\icon\crowdfund\icon-bookmark.svg" alt="">
                <h2>Bookmark</h2>
            </div>
        </div>
        <div class="money-container">
            <div class="backed-container">
                <h1>${{ backed }}</h1>
                <h2>of 100,000 backed</h2>
            </div>
            <div class="total-backerscontainer">
                <h1>{{ backers }}</h1>
                <h2>total backers</h2>
            </div>
            <div class="day-container">
                <h1>{{ day }}</h1>
                <h2>day left</h2>
            </div>
        </div>   
    </div>
</div>