@import '../../../../../../../assets/styles/font-imports.scss';

.main-container
{
    height: auto;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.text-container
{
    position: absolute;
    width: 80%;
    height: 20%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-option-container
{
    position: absolute;
    height: 100%;
    width: 35%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    left: 65%;
}

h2
{
    font-family: 'Montserrat-ExtraBold', sans-serif; 
    font-size: 30px;
    color: white;
}

h3
{
    font-family: 'Montserrat-Bold', sans-serif; 
    font-size: 15px;
    width: 30%;
    color: white;
}