<div class="container">
    <div class="dashboard">
        <article class="art-child">

        </article>
        <article class="art-father">

        </article>
    </div>
    <div class="body">
                    <!-- 1 -->
        <article class="art-father"></article>
        <article class="art-child"></article>
                    <!-- 2 -->
        <article class="father"></article>
        <article class="art-child"></article>
                    <!-- 3 -->
        <article class="father"></article>
        <article class="art-child"></article>
                    <!-- 4 -->
        <article class="father"></article>
        <article class="art-child"></article>
                    <!-- 5 -->
        <article class="father"></article>
        <article class="art-child"></article>
                    <!-- 6 -->
        <article class="father"></article>
        <article class="art-child"></article>
    </div>
</div>
