
<section class="section1">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="sendForm('student-list')">
        <div class="mb-2">
          <label class="form-label">
            Name
          </label>
          <input type="text" formControlName = "name" class="form-control" placeholder="name">
          <div class="alert alert-danger mt-2" [hidden]="form.get('name')?.valid || form.get('name')?.pristine">
            The name is required
          </div>
        </div>
        <button mat-button class="btn-save-form" [disabled]="form.invalid"
        (click)="sendForm('student-list')"
        >{{title}}</button>
      </form>
    </div>
  </div>
</section>
{{title| json}}

<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Message</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
</form> -->

<router-outlet></router-outlet>