<app-title [title]="title"> </app-title>
<section class="section1">
  <div class="div1">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="mb-2">
          <label class="form-label">
            Nombre
          </label>
          <input type="text" formControlName = "name" class="form-control" placeholder="Su nombre">
          <div class="alert alert-danger mt-2" [hidden]="form.get('name')?.valid || form.get('name')?.pristine">
            El nombre es obligatorio
          </div>
        </div>
        <button class="btn btn-primary" (click)="save()">
        send
        </button>
      </form>
    </div>
  </div>
</section>
{{form.value| json}}