.btn-save-form
{
    cursor: pointer ; 
    /* background: royalblue; */
    width: 70px;
    margin-right: 8px;
    color: black;
}

.input-form
{
    border-radius: 8px !;
    margin-right: 8px;
}

.label-form
{
    color: black;
    /* background: rgb(68, 119, 228); */
    margin-left: 8px;
}

.title
{
    color: black;
    /* background: royalblue; */
}
 
.title2
{
    text-align: center;
}

.div-oldStudent
{
    /* text-decoration: underline; */
}