<!-- <app-title title="Change Detection"> </app-title> -->
<div class="div">
<div class="div-general">
    <!-- -------------------     1       ------------- -->
    <div class="div-father" id="image">
        <section class="container-image">
            <img src="assets\images\image-omelette.jpeg"/>
        </section>
    </div>
    <br/>
    <!-- -------------------     2       ------------- -->
    <div class="div-father" id="container2">
        <section class="contaier2" id="title2"> <strong>Simple Omelette Recipe</strong> </section>
        <section class="contaier2" id="text2">
            An easy and quick dish, perfect for any meal. This clasic 
            omelette combines beaten eggs coocked to perfection, optionally 
            filled with your choice of cheese, vegetables, or meats.  
        </section>
    </div>
    <br/>
      <!-- -------------------     3       ------------- -->
      <div class="div-father" id="div3">
        <section class="container3" id="title3">
            <p><b>Preparation time</b></p>
        </section>
        <section class="container3" id="text3">
          <ul style=" list-style-type: disc">
            <li class="item">
                <p class="text"><b>Total</b>: Approximately 10 minutes</p>
            </li>
            <li class="item">
                <p class="text"><b>Preparation</b>: 5 minutes</p>
            </li>
            <li class="item">
                <p class="text"><b>Cooking</b>: 5 minutes</p>
            </li>
          </ul>
        </section>
    </div>
    <br />
    <!-- -------------------     4       ------------- -->
    <div class="div-father"> 
        <section class="container4" id="title4"><p><b>Ingredients</b></p></section>
        <section class="container4" id="text4">
           <ul style=" list-style-type: disc">
                <li class="item">
                    <p class="text">2-3 huevos grandes</p>
                </li> 
                <li class="item">
                    <p class="text">Sal, al gusto</p>
                </li> 
                <li class="item">
                    <p class="text">Pimienta, al gusto</p>
                </li> 
                <li class="item">
                    <p class="text">1 cucharada de mantequilla o aceite</p>
                </li> 
                <li class="item">
                    <p class="text">Rellenos opcionales: queso, verduras picadas, carnes cocidas, hierbas</p>
                </li> 
           </ul>  
        </section>
    </div>
    <br/>
    <!-- -------------------     5       ------------- -->
    <div class="div-father"> 
        <section class="container5" id="title5"><p><b>Instructions</b></p> </section>
        <section class="container5" id="text5">
            <ol style="list-style-type: decimal" >
                <li class="item">
                    <p class="text"><b>Beat the eggs: </b>In a bowl, beat the eggs with a pinch of salt and pepper 
                until they are well mixed. You can add a tablespoon of water or milk for a fluffier 
                        texture</p>
                </li>
                <li class="item">
                    <p class="text"><b>Heat the pan: </b>Place a non-stick frying pan over medium heat and add butter
                        or oil</p>
                </li>
                <li class="item">
                    <p class="text"><b>Cook the omelette: </b>Once the butter is melted...</p>
                </li>
                <li class="item">
                    <p class="text"><b>Add fillings (Optional) </b>When the eggs begin ...</p>
                </li>
                <li class="item">
                    <p class="text"><b>Fold and serve: </b>As the omelette ....</p>
                </li>
                <li class="item">
                    <p class="text"><b>Enjoy: </b>Serve hot .....</p>
                </li>
            </ol>
        </section>
    </div>
    <br/>
    <!-- -------------------     6       ------------- -->
    <div class="div-father"> 
        <section class="container5" id="title5"><p><b>Nutrition</b></p> </section>
        <section class="container5" id="text5">
            The table below shoew nutritional values per serving without the additional fillings.
        </section>
        <section class="container5" id="table5">
              <table class="table2">
                <tr class="tr2">
                  <td class="th" id="first-cell">Calories</td>
                  <td class="th" id="first-cell">Carbs</td>
                  <td class="th" id="first-cell">Protein</td>
                  <td class="th" id="first-cell">Fat </td>
                </tr>
                <tr class="tr2">
                  <td class="th" id="cell"><strong>277 kcal</strong></td>
                  <td class="th" id="cell"><strong>0g</strong></td>
                  <td class="th" id="cell"><strong>20g</strong></td>
                  <td class="th" id="cell"><strong>22g</strong></td>
                </tr>
              </table>
        </section>
    </div>
    <br/>
    <div class="div-father" id="image">
        <section class="container-image">
            <img src="assets\images\image-omelette.jpeg" data-lazyload = "true"/>
        </section>
    </div>
</div>
</div>