<!-- <app-title title="Change Detection"> </app-title> -->
<div class="div">
<div class="div-general">
    <!-- -------------------     1       ------------- -->
    <div class="div-father">
        <section class="container-image">
            <!-- <img src="/D:/Trabajos/!!Frontend-Mentor-Challenge/recipe-page-main/assets/images/image-omelette.jpeg"/> -->
            <img src="assets\image-omelette.jpeg"/>
        </section>
    </div>
    <br/>
    <!-- -------------------     2       ------------- -->
    <div class="div-father">
        <section class="contaier2" id="title2"> <strong>Simple Omelette Recipe</strong> </section>
        <section class="contaier2" id="text2">
            An easy and quick dish, perfect for any meal. This clasic 
            omelette combines beaten eggs coocked to perfection, optionally 
            filled with your choice of cheese, vegetables, or meats.  
        </section>
    </div>
    <br/>
    <!-- -------------------     3       ------------- -->
    <div class="div-father"> 
        <section class="contaier3" id="title3"> <h1><b>Preparation time</b></h1> </section>
        <section class="contaier3" id="text3">
            <h6> <b>.     Total</b>: Approximately 10 minutes</h6>
            <h6> <b>.     Preparation</b>: 5 minutes</h6>
            <h6> <b>.     Cooking</b>: 5 minutes</h6>
        </section>
    </div>
    <br/>
    <!-- -------------------     4       ------------- -->
    <div class="div-father"> 
        <section class="container4" id="title4"><h1><b>Ingredients</b></h1></section>
        <section class="container4" id="text4">
            <h6> .    2-3 large eggs</h6>
            <h6> .    Salt, to taste</h6>
            <h6> .    Papper, to taste</h6>
            <h6> .    1 tablespoon of butter or oil</h6>
            <h6> .    Optional fillings: cheese, diced vegetables, cooked meats, herbs</h6>
        </section>
    </div>
    <br/>
    <!-- -------------------     5       ------------- -->
    <div class="div-father"> 5</div>
    <br/>
    <!-- -------------------     6       ------------- -->
    <div class="div-father"> 6</div>
    <br/>
</div>
</div>