<app-title title="Student List"></app-title>
 <button
    class="p-2 bg-blue-500 rounded text-white"
    id="bttn"
    (click)="FillStudentData()"
 > 
   <h1>show student list</h1>
 </button>
@if (showContent()) 
{
    <ul>
        @for (student of studentListService.student; track student.id) 
        {
            <li>
                <a [routerLink]="['/dashboard/student', student.id]" 
                class="mx-5 hover:underline"
                >
                    {{student.name}}
                </a> 
            </li>
        }
    </ul>
}
 