<!-- <h1 class="text-3xl mb-5 font-bold">  Control Flow  </h1> -->

<<ng-container *ngIf="!editable; else editar">
<app-title title = "Welcome to the University"></app-title>

<section 
    class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <!-- ngInf @if -->
        <div 
        class="bg-blue-100 rounded shadow p-10">
            <h2 
            class="text-2xl font-bold mb-5"
            >
                if: {{showContent()}}
            </h2>
            <button 
            class="p-2 bg-blue-500 rounded text-white"
            (click)="toggleContent()"
            >
                Click me!
            </button>
            @if (showContent()) 
            {
                <h1 
                class="text-2x1 font-bold mb-5"
                >    
                    Hello World
                </h1>
            }@else 
            {
                <h1
                class="text-2x1 font-bold mb-5"
                >
                    False here
                </h1>
            }
        </div>
 <!-- @switch -->
        <div 
        class="bg-blue-100 rounded shadow p-10"
        >  
        <h2 
        class="text-3x1"
        >
            {{grades()}}
        </h2>
            @switch (grades()) 
            {
                @case ('A') 
                {
                    <p>  5 ptos</p>
                }
                @case ('B') 
                {
                     <p> >3 ptos</p>
                }
                @default
                {
                    <p>  2 ptos</p>
                }
            }
        </div>
        <!-- @for -->
        <div 
        class="bg-blue-100 rounded shadow p-10"
        >  
        @for (user of userList(); track user; 
        let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count ) 
        {
           <ul>
                <li
                [class]=
                "{
                    'bg-red-500': odd && !first && !last,
                    'bg-pink-500': even && !first && !last,
                    'bg-yellow-300': first,
                    'bg-purple-500': last
                }"
                >
                    {{i}}/{{count}} - {{user}};
                </li>
           </ul>
        }
        @empty 
        {
         <h1> lista vacia</h1>   
        }
       
        </div>
        <button class="bg-blue-100" (click) ="editable = true"> Edit </button>
</section>
</ng-container>

<ng-template #editar> 
    <button (click)="editable = false"> close</button>
    <app-main-view></app-main-view>
  
</ng-template>