@font-face 
{
    font-family: 'Montserrat-ExtraBold';
    src: url('/assets/fonts/crowdfund/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face 
{
    font-family: 'Montserrat-Black';
    src: url('/assets/fonts/crowdfund/Montserrat-Black') format('truetype');
}